body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    /* font-family: 'Macondo', cursive; */
    font-size: 50px;
}
.Name-Highlight{
    color: orange;
}
.headline_1{
    font-weight: bolder;
    color: black;
}
.First-width{
    float: left;
    width: 40%;
    margin: 5%;
    padding: 2% 0%;
}
.First-width img{
    width: 100%;
}
